.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 5;
}
.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    padding: 2%;
}

.nav-buttons{
    padding: 2%;
}


.social-media-icones-white a {
    color: white;
    font-size: 2rem;
}

.social-media-icones-black a {
    color: black;
    font-size: 2rem;
}